<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid" *ngIf="(product$ | async)">

        <div class="row product-details">

            <app-image-slider [slides]="(product$ | async)!.images!" [changeInterval]="5000" [animationType]="'flip'"
                class="images"></app-image-slider>

            <div class="col-12 col-lg-5 details">

                <div class="control-btns" *ngIf="isAdmin">
                    <app-primary-btn text="Edit" type="button" btnClass="blue"
                        (btnClick)="editHandler()"></app-primary-btn>

                    <app-primary-btn text="{{(product$ | async)!.deleted ? 'Available' : 'Unavailable'}}" type="button" btnClass="grey"
                        (btnClick)="availabilityHandler($event)"></app-primary-btn>

                    <app-primary-btn text="Delete" type="button" btnClass="red"
                        (btnClick)="openModal()"></app-primary-btn>
                </div>

                <div class="single_product_desc">

                    <div class="product-meta-data">
                        <div class="line"></div>
                        <div class="info-wrapper">
                            <div class="title">
                                <p class="product-price" *ngIf="(product$ | async)!.discount === 0">${{(product$ |
                                    async)!.price}}</p>
                                <p class="product-price" *ngIf="(product$ | async)!.discount > 0">
                                    <span class="old-price">${{(product$ | async)!.price.toFixed(2)}}</span>
                                    <span class="discount">-{{(product$ | async)!.discount}}%</span>
                                    <span class="new-price">${{(product$ | async)!.discountPrice?.toFixed(2)}}</span>
                                </p>
                                <h6>{{(product$ | async)!.name}}</h6>
                            </div>

                            <app-like-product *ngIf="isLoggedIn"></app-like-product>
                        </div>


                        <div class=" ratings-review mb-15 d-flex align-items-center justify-content-between">

                            <div class="ratings">
                                <app-rating></app-rating>
                            </div>

                            <div class="review">
                                <button (click)="toggle()">Reviews</button>
                            </div>
                        </div>

                        <app-review-list *ngIf="isShown"></app-review-list>

                        <p class="availability"><span class="status"
                                [ngClass]="{'out-of-stock': (product$ | async)!.quantity === 0 || (product$ | async)!.deleted  || availableQty === 0}">●</span>
                            {{(product$ | async)!.quantity === 0 || (product$ | async)!.deleted || availableQty === 0 ?
                            'Out of Stock' : 'In Stock'}}
                        </p>
                    </div>

                    <div class="short_overview my-5">
                        <p><span>Color: </span>{{(product$ | async)!.color}}</p>
                        <p><span>Material: </span>{{(product$ | async)!.material}}</p>
                        <p><span>Description: </span>{{(product$ | async)!.description}}</p>
                    </div>

                    <h3 *ngIf="(product$ | async)!.deleted">Not available at the moment</h3>
                    <form class="cart clearfix" *ngIf="!(product$ | async)!.deleted && isLoggedIn && availableQty !== 0"
                        #cartForm="ngForm" (ngSubmit)="cartHandler()">
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">

                                <input type="number" class="qty-text" id="qty" step="1" min="1" [ngModel]="1"
                                    max="{{availableQty}}" name="quantity" #quantityInput="ngModel" required>

                            </div>
                        </div>
                        <app-primary-btn text="Add to cart" type="submit"></app-primary-btn>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>