.rating-holder {
    display: flex;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.rating-holder p {
  line-height: 1;
  margin-top: 2px;
}

.c-rating button {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border: 0;
    text-indent: -9999px;
    outline: none;
    background: url('/assets/images/star-light-grey.svg') center / cover no-repeat;
    cursor: pointer;
    transition: background 0.25s ease;
}

.c-rating button:disabled{
     cursor: not-allowed;
}

.c-rating button:hover,
.c-rating button:hover~button {
    background: url('/assets/images/star-light-grey.svg') center / cover no-repeat !important;
}

.c-rating:hover button {
    background: url('/assets/images/star-dark-grey.svg') center / cover no-repeat !important;
}

.c-rating[data-rating-value="0"] button:nth-child(-n + 0) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.25"] button:nth-child(-n + 1) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.25"] button:nth-child(1) {
    background: url('/assets/images/star-gold-1_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.5"] button:nth-child(-n + 1) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.5"] button:nth-child(1) {
    background: url('/assets/images/star-gold-half.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.75"] button:nth-child(-n + 1) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="0.75"] button:nth-child(1) {
    background: url('/assets/images/star-gold-3_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1"] button:nth-child(-n + 1) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.25"] button:nth-child(-n + 2) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.25"] button:nth-child(2) {
    background: url('/assets/images/star-gold-1_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.5"] button:nth-child(-n + 2) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.5"] button:nth-child(2) {
    background: url('/assets/images/star-gold-half.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.75"] button:nth-child(-n + 2) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="1.75"] button:nth-child(2) {
    background: url('/assets/images/star-gold-3_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2"] button:nth-child(-n + 2) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.25"] button:nth-child(-n + 3) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.25"] button:nth-child(3) {
    background: url('/assets/images/star-gold-1_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.5"] button:nth-child(-n + 3) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.5"] button:nth-child(3) {
    background: url('/assets/images/star-gold-half.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.75"] button:nth-child(-n + 3) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="2.75"] button:nth-child(3) {
    background: url('/assets/images/star-gold-3_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3"] button:nth-child(-n + 3) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.25"] button:nth-child(-n + 4) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.25"] button:nth-child(4) {
    background: url('/assets/images/star-gold-1_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.5"] button:nth-child(-n + 4) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.5"] button:nth-child(4) {
    background: url('/assets/images/star-gold-half.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.75"] button:nth-child(-n + 4) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="3.75"] button:nth-child(4) {
    background: url('/assets/images/star-gold-3_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4"] button:nth-child(-n + 4) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.25"] button:nth-child(-n + 5) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.25"] button:nth-child(5) {
    background: url('/assets/images/star-gold-1_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.5"] button:nth-child(-n + 5) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.5"] button:nth-child(5) {
    background: url('/assets/images/star-gold-half.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.75"] button:nth-child(-n + 5) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="4.75"] button:nth-child(5) {
    background: url('/assets/images/star-gold-3_4.svg') center / cover no-repeat;
}

.c-rating[data-rating-value="5"] button:nth-child(-n + 5) {
    background: url('/assets/images/star-gold.svg') center / cover no-repeat;
}

.c-rating--small {
    font-size: 50%;
}

.c-rating--big {
    font-size: 125%;
}