.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>*:not(.date-search) {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex-grow: 1;
}

.row form {
    display: flex;
    flex-direction: column;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.text-danger,
.error,
.server-error {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity));
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.form-control {
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control.ng-touched.ng-invalid,
.form-control.ng-touched.input-error {
    border-color: rgba(var(--bs-danger-rgb));
}

.form-control.ng-touched.ng-valid.ng-dirty:not(.input-error) {
    border-color: rgba(var(--bs-success-rgb));
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.error {
    position: absolute;
    bottom: 0.4rem;
    line-height: 1;
}

.p-3.p-lg-5.border.bg-white {
    position: relative;
    padding: 0.5rem 1.5rem 1.5rem;
    margin-bottom: 1rem;
}

.server-error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

input[type="range"] {
    box-sizing: border-box;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(#3b5d50, #3b5d50) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
}

input[type="range"]:active,
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: #fff;
    position: relative;
    margin: 5px 0;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input[type="range"]::-webkit-slider-thumb:active {
    border: 4px solid #f9bf29;
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="range"]::-webkit-slider-thumb::before {
    content: " ";
    display: block;
    position: absolute;
    top: 13px;
    left: 100%;
    width: 2000px;
    height: 2px;
}

.multi-range {
    position: relative;
}

.multi-range input[type="range"] {
    position: absolute;
}

.multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
    background-color: red;
}

.multi-range input[type="range"]:nth-child(2) {
    background: none;
}

.multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: grey;
}

label.price {
    display: block;
    width: 180px;
}

select {
    cursor: pointer;
}

.date-search {
    display: flex;
    align-items: center;
    width: 300px;
    flex-grow: 0;
}

mat-form-field {
    align-self: flex-end;
}

.clear-date {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    width: 28px;
    height: 28px;
    position: relative;
    top: 5px;
}

.clear-date:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.053);
}

.row .email-search{
    max-width: 180px;
}