<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" routerLink="/">furni<span>.</span><span class="shop-name">shop</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/products">Shop</a>
                </li>

                <ng-container *ngIf="isLoggedIn$ | async">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="routeMatchOptions">
                        <a class="nav-link" routerLink="/products/favorites">Favorites</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="routeMatchOptions">
                        <a class="nav-link" routerLink="/orders">My Orders</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="isAdmin$ | async">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/admin/add-item">New Product</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="routeMatchOptions">
                        <a class="nav-link" routerLink="/admin/orders">Customers orders</a>
                    </li>
                </ng-container>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="nav-item">

                    <button class="nav-link subnavbtn" (mouseenter)="show('profile')"
                        (mouseleave)="hideWithDelay('profile')"><img src="assets/images/user.svg"></button>
                    <div class="subnav-content" @openClose (mouseenter)="stayOpened('profile')"
                        *ngIf="isOpen['profile']" (mouseleave)="hide('profile')">

                        <app-profile-submenu />

                    </div>
                </li>
                <li *ngIf="isLoggedIn$ | async">
                    <a class="nav-link" routerLink="/cart" (mouseenter)="show('cart')"
                        (mouseleave)="hideWithDelay('cart')"><img src="assets/images/cart.svg"></a>

                    <div class="subnav-content cart" @openClose (mouseenter)="stayOpened('cart')" *ngIf="isOpen['cart']"
                        (mouseleave)="hide('cart')">

                        <app-cart-submenu [cart]="cart" [newEntry]="newEntry" />

                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>