<div class="p-3 p-lg-5 border bg-white">

    <!-- <p *ngIf="!!serverError" class="server-error">
        {{serverError}}
    </p> -->

    <form>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="name" class="text-black">Product name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="White chair">
            </div>

            <div class="col-md-12">
                <label for="category" class="text-black">Category</label>

                <select name="category" id="category" class="form-control" formControlName="category">
                    <option *ngFor="let category of categories" value={{category}}>{{category}}</option>
                    <option value=all>All</option>
                </select>

            </div>

            <div class="col-md-12">
                <!-- <div class="range-input">
                        <input type="range" class="min" min="0" max="1000" value="300" step="10">
                        <input type="range" class="max" min="0" max="1000" value="700" step="10">
                    </div> -->
                <label class="text-black">Price <span>10 - 30</span></label>

                <div class="multi-range">
                    <input type="range" min="0" max="50" value="5" id="lower">
                    <input type="range" min="0" max="50" value="45" id="upper">
                </div>

                <!-- <label for="price" class="text-black">Price</label>
                <input type="range" class="form-control" id="price" name="price" min="0"> -->
            </div>

            <div class="col-md-12">
                <label for="order" class="text-black">Order By</label>

                <select name="order" id="order" class="form-control" formControlName="order">
                    <option *ngFor="let field of sorting" value={{field}}>{{field | displayArrow}}</option>
                </select>

            </div>
        </div>
        <!-- <div class="form-group row">
            <div class="col-md-12">
                <label for="email" class="text-black">Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email" name="email" placeholder="dan_jon@gmail.com"
                    formControlName="email" [ngClass]="{'input-error': !!serverError}">

                <ng-container *ngIf="loginForm.get('email')?.touched">
                    <p *ngIf="loginForm.get('email')?.errors?.['required']" class="error">
                        Email is required!
                    </p>
                    <p *ngIf="loginForm.get('email')?.errors?.['emailValidator']" class="error">
                        Email is not valid!
                    </p>
                </ng-container>
            </div>
        </div> -->

    </form>


</div>