<ul class="dropdown-menu cart-list s-cate">
    <p class="no-products" *ngIf="!cart[1] || cart[1].length === 0">No products in cart!</p>
    <li *ngFor="let product of cart[1]; let i = index" class="single-cart-list"
        [ngClass]="{'new': differenceIndex.includes(i)}">
        <a routerLink="/products/{{product._id}}/details" class="photo"><img *ngIf="product.imageUrl"
                src="{{product.imageUrl}}" alt="Image" class="cart-thumb" /></a>
        <div class="cart-list-txt">
            <h6><a routerLink="/products/{{product._id}}/details">{{product.name}}</a></h6>
            <p>{{product.count}} x <span class="price">${{product.price!.toFixed(2)}}</span></p>
        </div>
        <div class="cart-close">
            <span class="lnr lnr-cross" (click)="removeProduct(product._id)">&#9587;</span>
        </div>
    </li>

    <li class="total">
        <span>Total: ${{cartTotal.toFixed(2)}}</span>
        <button class="btn-cart pull-right" (click)="goToCart()">View cart</button>
    </li>
</ul>