<div class="orders-container">
    <ng-container *ngIf="errorFetchingData">
        <div class="error">
            <h2>Error in loading resources</h2>
            <img src="assets/images/warning.svg" alt="warning" class="imf-fluid">
        </div>
    </ng-container>
    <app-orders-search-bar />
    <table *ngIf="!errorFetchingData" class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Products</th>
                <th>Total amount</th>
                <th>Order received</th>
                <th>Status</th>
                <th>Cancel order</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders" [ngClass]="{'canceled': order.status === 'Canceled'}">
                <td>
                    <p>{{order._id}}</p>
                </td>
                <td class="products">
                    <p *ngFor="let product of order.products">
                        <a *ngIf="product.productId" routerLink="/products/{{$any(product.productId)._id}}/details">
                            <img class="preview" src="{{$any(product.productId).images[0].url}}" alt="preview">
                            {{product | productSummary}}
                        </a>
                        <ng-container *ngIf="!product.productId">
                            {{product | productSummary}}
                        </ng-container>
                    </p>
                </td>
                <td>
                    <p>${{order.amount.toFixed(2)}}</p>
                </td>
                <td>
                    {{order.createdAt | date : 'd MMMM y, HH:mm'}}
                </td>
                <td>
                    <p>{{order.status}}</p>
                </td>
                <td>
                    <button class="cancel-btn" *ngIf="['Received', 'Processing'].includes(order.status)"
                        (click)="openModal(order._id)">X</button>
                </td>
            </tr>

        </tbody>

    </table>
    <app-pagination [totalPages]="pages" [pageSize]="pageSize"></app-pagination>


    <h3 class="empty-cart" *ngIf="orders.length === 0">No orders!</h3>
</div>