<li class="review" *ngIf="!isShown">
    <div class="outer" [appLoading]="!review.text || waitingForDelete">

        <div class="inner" *ngIf="review.text && !waitingForDelete">
            <span class="badge"></span>

            <div class="container" >
                <div class="like">
                    <div class="name-container">
                        <p class="name">{{review.ownerId ? (review.ownerId | fullName) : 'unknown'}}</p>
                    </div>

                    <div class="likes-container" *ngIf="isLoggedIn">
                        <span>Likes ({{review.likes.length}})</span>
                        <div class="likes" *ngIf="!isOwner">
                            <button *ngIf="isLiked" title="dislike" appDebounceClick (debounceClick)="dislike()"
                                [debounceTime]="500">
                                <fa-icon [icon]="thumbSolid"></fa-icon></button>
                            <button *ngIf="!isLiked" title="like" appDebounceClick (debounceClick)="like()"
                                [debounceTime]="500"><fa-icon [icon]="thumb"></fa-icon></button>

                        </div>
                    </div>

                </div>
                <p class="text">{{review.text}}</p>
                <div class="controls">
                    <div class="btns" *ngIf="user?._id === review.ownerId?._id">
                        <app-primary-btn text="Edit" type="button" btnClass="blue" [isDisabled]="isDisabled"
                            (btnClick)="toggle()"></app-primary-btn>
                        <app-primary-btn text="Delete" type="button" btnClass="red" [isDisabled]="isDisabled"
                            (btnClick)="openModal()"></app-primary-btn>
                    </div>
                    <p class="date">{{review.updatedAt !== review.createdAt ? 'Edited:' : ''}} {{review.updatedAt | date
                        : 'd
                        MMMM y, HH:mm'}}</p>
                </div>
            </div>
        </div>

        <div class="loading" *ngIf="!review.text || waitingForDelete"></div>

    </div>

</li>

<app-add-edit-review *ngIf="review.text && isShown" [review]="review" (onCancel)="toggle()"
    (onReview)="onReview($event)"></app-add-edit-review>