<div class="product-item" *ngIf="product.name">
    <a routerLink="/products/{{product._id}}/details" title="Details">
        <img *ngIf="product.images" src="{{product.images | getImageUrl}}" class=" img-fluid product-thumbnail">
        <h3 class="product-title">{{product.name}}</h3>
        <strong class="product-price">{{product.price | formatPrice}}</strong>
    </a>
    <span *ngIf="product.quantity > 0" class="icon-cross" title="Add to Cart">
        <img src="assets/images/cross.svg" class="img-fluid">
    </span>

</div>