<div class="favorites-section">
    <div class="container">
        <h2 class="text-black">Favorites</h2>

        <app-search-bar></app-search-bar>

        <app-pagination [totalPages]="pages"></app-pagination>

        <div class="row cards">

            <ng-container *ngIf="!errorFetchingData">
                <app-product-card class="product-card" *ngFor="let product of products" [appLoading]="!product.name"
                    [product]="product"></app-product-card>
            </ng-container>

            <ng-container *ngIf="errorFetchingData">
                <div class="error">
                    <h2>Error in loading resources</h2>
                    <img src="assets/images/warning.svg" alt="warning" class="imf-fluid">
                </div>
            </ng-container>

            <ng-container *ngIf="products.length === 0">
                <div class="error">
                    <h2>No products</h2>
                    <img src="assets/images/warning.svg" alt="warning" class="imf-fluid">
                </div>
            </ng-container>
        </div>

        <app-pagination [totalPages]="pages" [pageSize]="pageSize"></app-pagination>
        
    </div>
</div>