.container {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3b5d50;
    border: none;
    cursor: pointer;
}

a,
button {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    border-top: #ffffff 1px solid;
}

a:hover,
button:hover {
    color: #f9bf29;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}