.footer-section {
    padding: 30px 0;
    background: #ffffff;
}

.footer-section .relative {
    position: relative;
    width: 100%;
}

.footer-section a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.footer-section .sofa-img {
    position: absolute;
    bottom: -30px;
    z-index: 30;
    left: 4%;
}

.footer-section .sofa-img img {
    max-width: 240px;
}

.footer-section .footer-logo-wrap .footer-logo {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50;
}

.footer-section .border-top {
    border-color: #dce5e4;
}

.footer-logo-wrap {
    margin-right: 10%;
    text-align: right;
}