<ul class="reviews" [@filterAnimation]="(reviews$ | async)!.length">
    <app-primary-btn *ngIf="!isShown && (isLoggedIn$ | async)" text="Write a review" (btnClick)="toggle()"></app-primary-btn>
    <app-add-edit-review *ngIf="isShown && (isLoggedIn$ | async)" (onCancel)="toggle()"></app-add-edit-review>

    <ng-container *ngIf="!errorFetchingData">
        <app-review *ngFor="let review of reviews$ | async" [review]="review"></app-review>
    </ng-container>

    <ng-container *ngIf="errorFetchingData">
        <div class="error">
            <h2>Error in loading</h2>
            <img src="assets/images/warning.svg" alt="warning" class="imf-fluid">
        </div>
    </ng-container>

    <ng-container *ngIf="(reviews$ | async)!.length === 0">
        <div class="error">
            <h2>No reviews</h2>
        </div>
    </ng-container>
</ul>