<ul class="reviews" [@filterAnimation]="reviewsTotal">
    <app-primary-btn *ngIf="!isShown && isLoggedIn" text="Write a review" (btnClick)="toggle()"></app-primary-btn>
    <app-add-edit-review *ngIf="isShown && isLoggedIn" (onCancel)="toggle()"
        (onReview)="onReview($event)"></app-add-edit-review>

    <ng-container *ngIf="!errorFetchingData">
        <app-review *ngFor="let review of reviews" [review]="review" (reviewChange)="onReview($event)"
            (onReviewDelete)="onDelete($event)"></app-review>
    </ng-container>

    <ng-container *ngIf="errorFetchingData">
        <div class="error">
            <h2>Error in loading</h2>
            <img src="assets/images/warning.svg" alt="warning" class="imf-fluid">
        </div>
    </ng-container>

    <ng-container *ngIf="reviews.length === 0">
        <div class="error">
            <h2>No reviews</h2>
        </div>
    </ng-container>
</ul>