<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <div *ngIf="i === currentIndex" [appLoading]="imageLoading[i]">
            <!-- <div *ngIf="imageLoading[i]"></div> -->
                <img src="{{slide.url}}" class="slide" [@slideAnimation]="animationType" (mouseenter)="onEnter()"
                    (mouseleave)="onLeave()" />

        </div>
    </ng-container>

    <ng-container *ngIf="slides && slides.length > 1">
        <button class="control prev" (click)="goToPrevious()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="goToNext()">
            <span class="arrow right"></span>
        </button>
    </ng-container>
</div>
<div class="slider" *ngIf="slides && slides.length > 1">
    <div class="dotsContainer">
        <div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)"
            [ngClass]="{'active': slideIndex === currentIndex}">
            ●
        </div>
    </div>
</div>