svg {
    vertical-align: middle;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: .3s ease-in-out;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #424242;
    ;
    text-decoration: underline;
}

a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #424242;
    ;
    border-color: #424242;
    ;
}

.btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}

.btn:active,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text-primary {
    color: #3b5d50 !important;
}

.thankyou-icon {
    position: relative;
    color: #3b5d50;
}

.thankyou-icon:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(59, 93, 80, 0.2);
}