.container {
    width: 80%;
    margin: 1rem auto 8rem;
    display: flex;
    gap: 20px;
}

.container>* {
    flex-basis: calc((100% - 20px)/2);
}

.billing-container .header,
.order-container .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex-grow: 1;
}

@media (min-width:768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.col-md-12,
.col-md-6 {
    position: relative;
}

.col-md-6.pass {
    width: 33%;
}

.row form {
    display: flex;
    flex-direction: column;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.text-danger,
.error,
.server-error {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity));
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.form-control {
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    margin-bottom: 1.5rem;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control.ng-touched.ng-invalid,
.form-control.ng-touched.input-error {
    border-color: rgba(var(--bs-danger-rgb));
}

.form-control.ng-touched.ng-valid.ng-dirty:not(.input-error) {
    border-color: rgba(var(--bs-success-rgb));
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn-container app-primary-btn {
    flex-basis: 30%;
}

.error {
    position: absolute;
    bottom: 0.2rem;
    line-height: 1;
}

.server-error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

.p-3.p-lg-5.border.bg-white {
    position: relative;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

tbody,
td,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
    vertical-align: inherit;
}

.table>thead {
    vertical-align: bottom;
}

.table>:not(:first-child) {
    border-top: 2px solid currentColor;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #424242;
    border-color: #424242;
}

.btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group{
    display: flex;
    justify-content: space-between;
}

.insufficient{
    color: var(--bs-red);
}